body {
  background: #f4f4f4;
}

.banner {
  background: #222222;

}

.blog-post {
    max-width: 100%;
    height: auto;
}

.collapsible {
  background-color: white;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ebeced;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ebeced;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



#gallery img:hover{
    cursor: pointer;
}

.fullscreen{
    position : fixed;
    top: 0%;
    left: 0%;
    animation: zoom-in-zoom-out 0.25s linear;
}

@media (max-width: 992px) {
.col-sm-12{
    text-align: center;
}
.col-sm-12 img{
    margin: auto;
}
}

.col-sm-12 img {
    display:block;
    margin-left: auto;

}

.content p{
    font-weight: bold;
}

.content {
    font-family: Ubuntu;
    font-size: 0.9em;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.90, 0.90);
  }
  25% {
    transform: scale(0.925, 0.925);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(0.975, 0.975);
  }
  100% {
    transform: scale(1, 1);
  }
}

